<%= form_for @image, url: refinery.admin_images_path,
             html: { multipart: true, remote: false } do |f| %>

  <div class="clearfix">

    <div class="form-title">
      <h1>
          <%= t('create_new_image', scope: 'refinery.admin.images.actions') %>
      </h1>
      <div>
        <p class="breadcrumbs less-important">
          <%= link_to refinery_plugin.title, refinery_plugin.url %>
        </p>
      </div>
    </div>

  </div>

  <%= render '/refinery/admin/error_messages',
             object: @image,
             include_object_name: false %>

  <div class="clearfix">
    <div class="block-main">
      <div class="field">
        <% # we must only hint at multiple when it's a new record otherwise update fails. %>
        <%= f.file_field :image, required: true, multiple: true %>
        <p class="note">
          <%= t('.maximum_image_size', bytes: number_to_human_size(Refinery::Images.max_image_size)) %>
        </p>
      </div>
    </div>
  </div>

  <%= render '/refinery/admin/form_actions', f: f,
             hide_cancel: false %>
<% end %>
