<li id="image-<%= grid_view_image.id %>" >
  <%= link_to grid_view_image.url, :class => 'image' do %>
      <%= image_fu grid_view_image, '100x100#c', {
               :alt => grid_view_image.title,
             } %>
  <% end %>
  <span class="actions">

    <%= link_to t('delete', :scope => 'refinery.admin.record'),
                refinery.admin_image_path(grid_view_image),
                :class => 'delete confirm-delete nojs-hide icon-small delete-icon',
                :title => t('delete', :scope => 'refinery.admin.images'),
                :data => {
                  :remote => true,
                  :confirm => t('message', :scope => 'refinery.admin.delete', :title => grid_view_image.title)
                },
                :method => :delete %>

    <%= link_to t('edit', :scope => 'refinery.admin.record'),
                refinery.edit_admin_image_path(grid_view_image),
                :class => 'icon-small edit-icon',
                :title => t('edit', :scope => 'refinery.admin.images') %>

    <%= link_to t('live', :scope => 'refinery.admin.record'), grid_view_image.url,
                :class => 'icon-small live-icon',
                :target => '_blank',
                :title => t('view_live', :scope => 'refinery.admin.images') %>

  </span>
</li>
