<% site_bar = render '/refinery/site_bar' if refinery_user? %>
<% cache refinery_record_cache_key(@page, 'head') do -%>
<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <head>
    <%= render 'refinery/head' %>
  </head>
<% end %>
  <body id="<%= canonical_id @page %>">
    <%= site_bar %>
    <div id="page-wrapper">
      <div id="page">
        <div id="header-wrapper">
          <header id="header" class="wrapper clearfix">
            <% cache refinery_record_cache_key(@page, 'header') do -%>
              <%= render '/refinery/header' %>
            <% end %>
          </header>
        </div>

        <div id="main-wrapper">
          <div id="main" class="wrapper clearfix">
            <%= yield %>
          </div>
        </div>

<% cache refinery_record_cache_key(@page, 'footer') do -%>
        <div id="footer-wrapper">
          <footer id="footer" class="wrapper clearfix">
            <%= render '/refinery/footer' %>
          </footer>
        </div>
      </div>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
<% end %>
