<%% content_for :title do %>
  <%%= @<%= singular_name %>.<%= title_attribute_name %> %>
<%% end %>

<%% content_for :body do %>
  <section class="<%= singular_name %>">
  <% attributes.each do |attribute| %>
    <div class="<%= attribute.name %>-field">
      <h2><%= attribute.name.titleize %></h2>
      <p>
      <% if attribute.type == :image -%>
        <%%= image_fu @<%= singular_name %>.<%= attribute.name %>, nil %>
      <% elsif attribute.type == :resource -%>
        <%% if @<%= singular_name %>.<%= attribute.name %>.present? -%>
          <%%= link_to <%= "'#{attribute.name}'" %>, @<%= singular_name %>.<%= attribute.name %>.url %>
        <%% else -%>
          <%= attribute.name %>
        <%% end -%>
      <% else -%>
        <%%= @<%= singular_name %>.<%= attribute.name %> %>
      <% end -%>
      </p>
    </div>
  <% end %>
  </section>
<%% end %>

<%% content_for :side_body do %>
  <aside>
    <h2><%%= t('.other') %></h2>
    <ul class="<%= plural_name %>">
      <%% @<%= 'all_' if plural_name == singular_name%><%= plural_name %>.each do |<%= singular_name %>| %>
        <li>
          <%%= link_to <%= singular_name %>.<%= title_attribute_name %>, refinery.<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>) %>
        </li>
      <%% end %>
    </ul>
  </aside>
<%% end %>

<%%= render '/refinery/content_page' %>
