<!DOCTYPE html>
<html lang="<%= ::I18n.locale %>" class="no-js">
  <head>
    <%= render 'refinery/admin/head' %>
  </head>
  <body>
    <%= render '/refinery/site_bar' %>
    <div id="page-wrapper">
      <div id="page">
        <div id="header-wrapper">
          <header id="header" class="clearfix">
            <%= render 'refinery/admin/menu' %>
          </header>
        </div>

        <div id="main-wrapper">
          <div id="main" role="main" class="clearfix">
            <div id="flash-wrapper">
              <%= render '/refinery/no_script' %>
              <%= render '/refinery/message' %>
            </div>
            <div id="content" >
              <%= yield %>
            </div>
          </div>
        </div>

        <div id="footer-wrapper">
          <footer id="footer" class="clearfix" role="contentinfo">
            <%= render '/refinery/admin/footer' %>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
