<!DOCTYPE html>
<html lang="<%= ::I18n.locale %>" class="no-js">
  <head>
    <%= render 'refinery/admin/head' %>
  </head>
  <body>
    <%= render '/refinery/site_bar' %>
    <div id="wrapper">
      <header id="header">
        <%= render 'refinery/admin/menu' %>
      </header>
      <div id="page-container">
        <div id="page">
          <div id="content" class="clearfix" role="main">
            <div id="flash-container">
              <%= render '/refinery/no_script' %>
              <%= render '/refinery/message' %>
            </div>
            <div id="<%= "#{controller_name}-#{action_name}" %>">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
