<li class="record" id="<%%= dom_id(<%= singular_name %>) %>">
  <div class="detail">
    <span class="title">
      <%%= <%= singular_name %>.<%= title_attribute_name %> %>
    </span>
  </div>

  <span class="actions">
    <%%= link_to t('delete', scope: 'refinery.admin.record'),
                refinery.admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                class: 'delete confirm-delete nojs-hide icon-small delete-icon',
                title: t('.delete'),
                data: {
                  remote: true,
                  confirm: t('message', scope: 'refinery.admin.delete', title: <%= singular_name %>.<%= title_attribute_name %>)
                },
                method: :delete %>

    <%%= link_to t('edit', scope: 'refinery.admin.record'),
                refinery.edit_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                class: 'icon-small edit-icon',
                title: t('.edit') %>

<% unless skip_frontend? -%>
    <%%= link_to t('live', scope: 'refinery.admin.record'),
                refinery.<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                class: 'icon-small live-icon',
                title: t('.view_live'),
                target: '_blank' %>
<% end -%>

<% if sortable? -%>
    <%%= content_tag :a, t('move', :scope => 'refinery.admin.record'),
                class: 'move nojs-hide icon-small move-icon',
                title: t('move', :scope => 'refinery.admin.record') %>
<% end -%>
  </span>
</li>
