<form>
  <div class="dialog-content-wrapper clearfix">
    <div class="block-main">
      <div class="field">
        <label for="image-alt">Alt:</label>
        <input type="text" class="text larger widest" value="<%= @image.title %>" id="image-alt" />
      </div>
      <div class="field">
        <label for="image-caption">Caption:</label>
        <input type="text" class="text larger widest" value="<%= @image.caption %>" id="image-caption" />
      </div>
      <div class="field">
        <label>Size:</label>
        <ul class="clearfix ui-selectable" id="image-size">
          <li id="image-dialog-size-0" >
            <% pixels = "#{@image.image_width}x#{@image.image_height}" %>
            <%= link_to 'Original', '#original',
                        data: {
                          geometry: pixels,
                          size: :original
                        },
                        title: "Original image (#{pixels})" %>
          </li>
        <%
          Refinery::Images.user_image_sizes.sort_by { |key, geometry| geometry }.each_with_index do |(size, pixels), index|
            safe_pixels = pixels.to_s.gsub(/[<>=]/, '')
        %>
          <li id="image-dialog-size-<%= index + 1 %>" class="<%= 'ui-selected' if size == :medium %>">
            <%= link_to size.to_s, "##{size}",
                        data: {
                          geometry: pixels,
                          size: size
                        },
                        :title  => "#{size} image (#{safe_pixels})" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="block-aside right-side">
      <div class="field">
      <label>Preview:</label>
      <%= image_fu @image, '225x255>', {
                  id: 'image-preview',
                  alt: @image.title
               }.merge(thumbnail_urls(@image)) %>
      </div>
      <input type="hidden" id="image-id" value="<%= @image.id %>" />
    </div>
  </div>
</form>
