<div id="page-parts" class="ui-tabs clearfix" >

  <div class="nojs-hide ui-tabs-settings">
    <%= link_to t('.configure'), '#',
                id: 'page-parts-options',
                class: 'icon-small page-add-icon',
                title: t('.manage_page_parts'),
                data: {
                  page_parts: @page.parts.map do |part|
                    {
                      name: part.title,
                      title: t(part.title, scope: 'refinery.admin.pages.parts'),
                      active: part.active
                    }
                  end
                } %>
  </div>
  <ul class="nojs-hide ui-tabs-nav">
    <% @page.parts.reject {|p| p.title == :title }.each do |part| %>
      <% cls = "#{'ui-state-actives' if part.title == :body}#{' js-hide' if !part.active}" %>
      <li class="<%= cls %>">
        <%= link_to t(part.title, scope: 'refinery.admin.pages.parts'), "##{part.to_param}" %>
      </li>
    <% end %>

    <% ::Refinery::Pages.tabs.each_with_index do |tab, tab_index| %>
      <li id="custom_<%= tab.name %>_tab" class="ui-state-active">
        <%= link_to t(tab.name, scope: 'refinery.admin.pages.tabs'), "#custom_tab_#{tab_index}" %>
      </li>
    <% end %>
  </ul>

  <div class="ui-tabs-panels">
    <%= f.fields_for :parts do |ff| %>
      <%= render 'page_part_field', f: f, ff: ff, part: ff.object %>
    <% end %>

    <% ::Refinery::Pages.tabs.each_with_index do |tab, tab_index| %>
      <div class="ui-tabs-panel" id="custom_tab_<%= tab_index %>">
        <%= render tab.partial, f: f %>
      </div>
    <% end %>
  </div>

</div>
