<ul id="page-parts-controls" class="nojs-hide">
  <li>
    <%= link_to t('.reorder'), '#',
                :id => 'reorder-page-part',
                :class => 'icon-small reorder-icon',
                :title => t('.reorder_content_section') %>
    <%= link_to t('.reorder_done'), '#',
                :id => 'reorder-page-part-done',
                :class => 'hide icon-small success-icon',
                :title => t('.reorder_content_section_done') %>
  </li>
  <% if ::Refinery::Pages.new_page_parts %>
    <li>
      <%= link_to t('.add'), refinery.new_admin_page_part_path,
                  :id => 'add-page-part',
                  :class => 'icon-small add-icon',
                  :title => t('.create_content_section') %>
    </li>
    <li>
      <%= link_to t('.delete'), refinery.admin_page_parts_path,
                  :id => 'delete-page-part',
                  :class => 'icon-small delete-icon',
                  :title => t('.delete_content_section') %>
    </li>
  <% end %>
</ul>

<div id="page-tabs" class="clearfix ui-tabs">
  <ul id="page-parts" class="nojs-hide ui-tabs-nav">
    <% @page.parts.each_with_index do |part, part_index| %>
      <li class="<%= 'ui-state-active' if part.title.to_s.downcase == ::Refinery::Pages.main_part.to_s.downcase %>">
        <%= link_to part.title, "##{part.to_param}" %>
      </li>
    <% end %>
    <% ::Refinery::Pages.tabs_for_template(@page.view_template).each_with_index do |tab, tab_index| %>
      <li id="custom-<%= tab.name %>-tab">
        <%= link_to tab.name.titleize, "#custom-tab-#{tab_index}" %>
      </li>
    <% end %>
  </ul>
  <div id="page-part-editors">
    <% part_index = -1 %>
    <%= f.fields_for :parts do |p| %>
      <%= render 'page_part_field',
                 :form => f,
                 :part => p.object,
                 :part_index => (part_index += 1),
                 :new_part => @page.new_record? %>
    <% end %>
    <% ::Refinery::Pages.tabs_for_template(@page.view_template).each_with_index do |tab, tab_index| %>
      <div class="page-part ui-tabs-panel" id="<%= "custom-tab-#{tab_index}" %>">
        <%= render tab.partial, :f => f %>
      </div>
    <% end %>
  </div>
</div>
