<% new_record = @page.new_record? %>
<%= form_for [refinery, :admin, @page],
              url: (refinery.admin_page_path(@page.relative_path) unless new_record),
              html: { data: { remote: true }} do |f| %>

  <div class="clearfix">

    <%= render('/refinery/admin/locale_picker',
                (new_record ?
                  { url: 'new_admin_page_path', url_options: { parent_id: params[:parent_id] } } :
                  { url: 'edit_admin_page_path', url_options: { id: @page.nested_url } })
              ) if Refinery::I18n.frontend_locales.many? %>

    <div class="form-title">
      <h1>
        <% if new_record %>
          <%= t('create_new_page', scope: 'refinery.admin.pages.actions') %>
        <% else %>
          <%= t('edit_page', scope: 'refinery.admin.pages.actions') %>:
          <%= link_to_if @page.translation.persisted?, @page.title, @page.url, target: '_blank' %>
        <% end %>
      </h1>
      <div class="clearfix">
        <div class="meta-informations right-side">
          <%= page_meta_information @page %>
        </div>
        <div class="breadcrumbs less-important">
          <%= link_to refinery_plugin.title, refinery.admin_pages_path %>
          <% if new_record %>
            <% if @page.parent.present? %>
              <% @page.parent.ancestors.each do |parent| %>
                &nbsp;/&nbsp;
                <%= link_to parent.title,
                      refinery.edit_admin_page_url(parent.relative_path) %>
              <% end %>
              &nbsp;/&nbsp;
              <%= link_to @page.parent.title,
                    refinery.edit_admin_page_url(@page.parent.relative_path) %>
            <% end %>
          <% else %>
            <% @page.ancestors.each do |parent| %>
              &nbsp;/&nbsp;
              <%= link_to parent.title,
                    refinery.edit_admin_page_url(parent.relative_path) %>
            <% end %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>

  <%= render '/refinery/admin/error_messages', object: @page, include_object_name: true %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'larger widest', autofocus: true, required: true %>
  </div>

  <%= render 'form_fields_after_title', f: f %>

  <div class="field">
    <%= render 'form_page_parts', f: f %>
  </div>

  <%= render 'form_advanced_options', f: f %>

  <div class="form-actions clearfix">
    <div class="form-actions-left">
      <%= submit_tag(t('save', scope: 'refinery.admin.form_actions'),
                  class: 'button submit-button',
                  data: { disable_with: t('processing', scope: 'refinery.admin.form_actions') }
                ) %>

      <%= link_to t('preview', scope: 'refinery.admin.form_actions'),
                  refinery.preview_page_path(id: @page.id, locale: Globalize.locale),
                  class: 'button preview-button secondary-button nojs-hide',
                  title: t('.preview_title') %>

    </div>

    <div class="form-actions-right">

      <%= link_to(t("#{'un' if @page.live?}publish", scope: 'refinery.admin.form_actions'),
                  refinery.toggle_publish_admin_page_path(id: @page.id, locale: Globalize.locale),
                  class: 'button secondary-button publish-button',
                  method: :post,
                  data: {
                    remote: true,
                    disable_with: t('processing', scope: 'refinery.admin.form_actions')
                  }) if @page.persisted? %>

      <%= submit_tag(t('delete', scope: 'refinery.admin.form_actions'),
                  name: 'delete',
                  method: :delete,
                  data: {
                    remote: true,
                    confirm: t('message', scope: 'refinery.admin.delete', title: @page.title)
                  },
                  title: t('delete', scope: 'refinery.admin.pages'),
                  class: 'button confirm-delete danger-button nojs-hide'
                ) if @page.persisted? && @page.deletable? %>
    </div>
  </div>

<% end %>
