<%= form_for [refinery, :admin, @page],
              :url => (refinery.admin_page_path(@page.id) if @page.persisted?),
              :html => { :data => { :remote => true }} do |f| %>

  <%= render '/refinery/admin/error_messages', :object => @page, :include_object_name => true %>

  <%= render '/refinery/admin/locale_picker', :object => @page %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'larger widest', :autofocus => true, :required => true %>
  </div>

  <%= render 'form_fields_after_title', :f => f %>

  <div class="field">
    <%= render 'form_page_parts', :f => f %>
  </div>
  <%= render 'form_advanced_options', :f => f %>
  <%= render '/refinery/admin/form_actions', :f => f,
             :delete_title => t('delete', :scope => 'refinery.admin.pages'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @page.title),
             :cancel_url => refinery.admin_pages_path
  %>

  <%= render 'form_new_page_parts', :f => f if Refinery::Pages.new_page_parts %>
<% end %>