<%= form_for [refinery, :admin, @page],
              url: (refinery.admin_page_path(@page.relative_path) unless @page.new_record?),
              html: { data: { remote: true }} do |f| %>

  <div class="clearfix">
    <div class="form-title">
      <h1>
        <% if @page.new_record? %>
          <%= t('create_new_page', scope: 'refinery.admin.pages.actions') %>
        <% else %>
          <%= t('edit_page', scope: 'refinery.admin.pages.actions') %>:
          <%= link_to_if @page.translation.persisted?, @page.title, @page.url, target: '_blank' %>
          <sup>
          <%= page_meta_information @page %>
          </sup>
        <% end %>
      </h1>
      <p class="less-important">
        <%= link_to refinery_plugin.title, refinery.admin_pages_path(frontend_locale_param) %>
      </p>
    </div>

    <%= render '/refinery/admin/locale_picker',
                url: @page.new_record? ? refinery.new_admin_page_path : refinery.edit_admin_page_path(@page.relative_path) %>
  </div>

  <%= render '/refinery/admin/error_messages', object: @page, include_object_name: true %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'larger widest', autofocus: true, required: true %>
  </div>

  <%= render 'form_fields_after_title', f: f %>

  <div class="field">
    <%= render 'form_page_parts', f: f %>
  </div>

  <%= render 'form_advanced_options', f: f %>

  <%= f.hidden_field :status, value: 'draft' %>

  <div class="form-actions clearfix">
    <div class="form-actions-left">
      <%= submit_tag(t('save', scope: 'refinery.admin.form_actions'),
                  class: 'button submit-button',
                  data: { disable_with: t('processing', scope: 'refinery.admin.form_actions') }
                ) %>

      <%= link_to t('preview', scope: 'refinery.admin.form_actions'),
                  refinery.preview_page_path(id: @page.id, locale: Globalize.locale),
                  class: 'button preview-button secondary-button nojs-hide',
                  title: t('.preview_changes') %>

    </div>

    <div class="form-actions-right">

      <%= link_to(t("#{'un' if @page.live?}publish", scope: 'refinery.admin.form_actions'),
                  refinery.toggle_publish_admin_page_path(id: @page.id, locale: Globalize.locale),
                  class: 'button secondary-button publish-button',
                  data: {
                    remote: true,
                    disable_with: t('processing', scope: 'refinery.admin.form_actions')
                  }) if @page.persisted? %>

      <%= submit_tag(t('delete', scope: 'refinery.admin.form_actions'),
                  name: 'delete',
                  method: :delete,
                  data: {
                    remote: true,
                    confirm: t('message', scope: 'refinery.admin.delete', title: @page.title)
                  },
                  title: t('delete', scope: 'refinery.admin.pages'),
                  class: 'button confirm-delete danger-button nojs-hide'
                ) if @page.persisted? && @page.deletable? %>
    </div>
  </div>

<% end %>
