<% unless part.title == :title %>
  <div class="page-part" id="<%= part.to_param %>">
    <div class="js-hide">
      <%= ff.label :body, t(part.title, scope: 'refinery.admin.pages.parts') %>
      <%= ff.check_box :active, class: 'part-active' %>
      <%= ff.label :active, t('active', scope: 'refinery.admin.pages.parts'), class: 'stripped' %>
    </div>
    <%= render '/refinery/admin/wysiwyg', f: ff, field: :body %>
    <%= ff.hidden_field :position, class: 'part-position' %>
    <%= ff.hidden_field :title if part.new_record? %>
  </div>
<% end %>
