<%
  expand_tree = Refinery::Pages.auto_expand_admin_tree
  has_childrens = (page.rgt - page.lft > 1)
  cache_key = [page, current_refinery_user.id, Globalize.locale]
  title_cls = ''

  if has_childrens
    cache_key << page.descendants.order(updated_at: :desc).limit(1).pluck(:updated_at).first.to_s.parameterize

    title_cls += ' toggle' + (expand_tree ? ' expanded' : '')
    ul_cls = 'nested data-cache' + (expand_tree ? ' data-loaded' : '')
  end

%>
<li id="<%= dom_id(page) %>">
<% cache cache_key, skip_digest: true do -%>
  <div class="row">

    <div class="detail">
      <span class="title icon-small icon-with-text<%= title_cls %>">
        <%= page.title -%>
      </span>
      <%= page_meta_information page %>
    </div>
    <span class="actions">

      <%= link_to t('delete', scope: 'refinery.admin.record'),
                  refinery.admin_page_path(page.relative_path, frontend_locale_param),
                  class: 'delete confirm-delete nojs-hide icon-small delete-icon',
                  title: t('delete', scope: 'refinery.admin.pages'),
                  data: {
                    remote: true,
                    confirm: t('message',
                      scope: 'refinery.admin.delete',
                      title: page.title
                    )
                  },
                  method: :delete if page.deletable? %>

      <%= link_to t('edit', scope: 'refinery.admin.record'),
                  refinery.edit_admin_page_url(page.relative_path, frontend_locale_param),
                  class: 'icon-small edit-icon',
                  title: t('edit', scope: 'refinery.admin.pages') %>

      <%= link_to t('add_child', scope: 'refinery.admin.record'),
                  refinery.new_admin_page_path(frontend_locale_param.merge(parent_id: page.id)),
                  class: 'icon-small page-add-icon',
                  title: t('new', scope: 'refinery.admin.pages') %>

      <% if page.translation.new_record? %>
        <%= content_tag :a, '', class: 'icon-small no-live-icon', title: t('.translation_not_exists') %>
      <% else %>
        <%= link_to t('live', scope: 'refinery.admin.record'),
                    page.url,
                    target: '_blank',
                    class: 'icon-small live-icon',
                    title: t('.view_live') %>
      <% end %>

      <%= content_tag :a, t('move', scope: 'refinery.admin.record'),
                  class: 'move nojs-hide icon-small move-icon',
                  title: t('move', scope: 'refinery.admin.record') %>

    </span>
  </div>
  <% if has_childrens %>

  <ul class="<%= ul_cls %>" data-ajax-content="<%= refinery.children_admin_page_path(page.id) %>"  >
    <%= render(partial: 'page', collection: page.children.includes(:translations).order(:lft)) if expand_tree %>
  </ul>
  <% end %>
</li>
<% end %>
