<% if (title_part = @page.parts.select {|p| p.title == :title }.first) %>
  <% part_index = @page.parts.index {|p| p.title == :title } %>
  <div class="field" id="<%= title_part.to_param %>">
    <%= label_tag "page[parts_attributes][#{part_index}][body]", t('.content_part_title') %>
    <div class="js-hide">
      <%= hidden_field_tag "page[parts_attributes][#{part_index}][active]", 0 %>
      <%= check_box_tag "page[parts_attributes][#{part_index}][active]", 1, title_part.active, class: 'part-active' %>
      <%= label_tag "page[parts_attributes][#{part_index}][active]",
                    t('active', scope: 'refinery.admin.pages.parts'), class: 'stripped' %>
      <%= hidden_field_tag "page[parts_attributes][#{part_index}][position]", title_part.position, class: 'part-position' %>
      <%= hidden_field_tag "page[parts_attributes][#{part_index}][title]", title_part.title if title_part.new_record? %>
    </div>
    <%= text_field_tag "page[parts_attributes][#{part_index}][body]", title_part.body,
                class: 'widest',
                placeholder: t('.content_part_title_placeholder') %>
  </div>
<% end -%>
