<div class="image-picker">
  <%= f.hidden_field field, class: 'current-record-id' %>
  <div class="current-record-container" >
    <%= link_to '#', class: 'current-record-link', title: t('.change') do %>
      <span class="record-holder">
        <%= image_fu image, Refinery::Images.user_image_sizes[:medium],
                    class: 'current-picked-record' if image.present? %>
      </span>
      <span class="no-picked-record-selected <%= 'hide' if image.present? %>">
        <%= t('.none_selected') %>
      </span>
    <% end %>
    <br/>
    <%= link_to t('.remove_current'), '#',
                class: "remove-picked-record #{' hide' if image.nil?}" %>
  </div>
</div>
