<div class="resource-picker">
  <%= f.hidden_field field, class: 'current-resource-id' %>
  <div class="current-record-container" >
    <%= link_to '#', class: 'current-record-link', title: t('.change') do %>
      <span class="record-holder">
        <%= resource_fu resource, class: 'current-picked-record' if resource.present? %>
      </span>
      <span class="no-picked-record-selected <%= 'hide' if resource.present? %>">
        <%= t('.no_resource_selected') %>
      </span>
    <% end %>
    <br/>
    <%= link_to t('.remove_current'), '#',
                class: "remove-picked-record #{' hide' if resource.nil?}" %>
  </div>
</div>

