<div class="field">
  <div class="tabs clearfix">
    <ul class="tabs">
      <% tabbed_fields.each_with_index do |field, index| %>
        <li>
          <%= link_to "#{field.to_s.humanize}", "\##{field}" %>
        </li>
      <% end %>
      <% pages_tabs = ::Refinery::Pages.tabs
         tabs_to_show = (refinery_pages_tabs ||= []).map!(&:to_s)
         pages_tabs.reject!{|t| refinery_pages_tabs.exclude?(t.name.to_s) } unless tabs_to_show.include?('all')
         pages_tabs.each_with_index do |tab, tab_index| %>
        <li id="custom-<%= tab.name %>-tab">
          <%= link_to tab.name.titleize, "#custom-tab-#{tab_index}" %>
        </li>
      <% end %>
    </ul>

    <div>
      <% tabbed_fields.each do |field| %>
        <div class="part" id="<%= field %>">
          <%= f.text_area field, :rows => 20, :class => 'editable-content' %>
        </div>
      <% end %>
      <% pages_tabs.each_with_index do |tab, tab_index| %>
        <div class="part" id="<%= "custom-tab-#{tab_index}" %>">
          <%= render tab.partial, :f => f %>
        </div>
      <% end %>
    </div>
</div>
