<% tabs = ['pages', 'website', 'email'] %>
<div class="dialog-content-wrapper clearfix ui-tabs ui-tabs-vertical">
  <ul class="ui-tabs-nav">
    <% tabs.each_with_index do |tab, i| %>
      <li <%= ' class="ui-tabs-active"'.html_safe if i === 0 -%>>
        <a href="#links-dialog-<%= tab %>"><%= tab.camelize %></a>
      </li>
    <% end %>
  </ul>
  <% tabs.each do |tab| %>
    <div id="links-dialog-<%= tab %>" class="ui-tabs-panel">
      <%= render "link_#{tab}" %>

      <%= render '/refinery/admin/form_actions', :f => nil,
                 :cancel_url => '',
                 :submit_button_text => t('insert', :scope => 'refinery.admin.pages_dialogs.link_to'),
                 :submit_button_class => 'insert-button',
                 :hide_cancel => false,
                 :cancel_title => nil,
                 :hide_delete => true %>
    </div>
  <% end %>
</div>
