<div class="dialog-content-wrapper clearfix ui-tabs ui-tabs-vertical">
  <ul class="ui-tabs-nav">
      <li>
        <a href="#existing-image-area" >
          <%= t('.existing_image') %>
        </a>
      </li>
      <li>
        <a href="#external-image-area" >
          <%= t('.external_image') %>
        </a>
      </li>
      <li>
        <a href="#image-upload-area" >
          <%= t('.new_image') %>
        </a>
      </li>
  </ul>
  <div id="existing-image-area" class="ui-tabs-panel" >
    <% if @images.any? %>
      <%= render 'existing_image' %>
    <% else %>
      <div class="flash flash-notice" >
        <%= t('no_images_yet', :scope => 'refinery.admin.images.records') %>
      </div>
    <% end %>

  </div>

  <div id="external-image-area" class="ui-tabs-panel" >
    <%= render 'external_image' %>
  </div>

  <div id="image-upload-area" class="ui-tabs-panel" >
    -t- todo
  </div>

</div>
<div class="dialog-actions">
  <%= render '/refinery/admin/form_actions', :f => nil,
             :cancel_url => '',
             :submit_button_text => t('insert', :scope => 'refinery.admin.form_actions'),
             :submit_button_class => 'insert-button',
             :hide_submit => false,
             :hide_cancel => false,
             :hide_delete => true,
             :cancel_title => nil %>
</div>
