<div class="dialog-content-wrapper clearfix ui-tabs ui-tabs-vertical">
  <ul class="ui-tabs-nav">
      <li>
        <a href="#existing-image-area" >
          <%= t('.existing_image') %>
        </a>
      </li>
      <li>
        <a href="#external-image-area" >
          <%= t('.external_image') %>
        </a>
      </li>
      <li>
        <a href="#upload-image-area" >
          <%= t('.new_image') %>
        </a>
      </li>
  </ul>

  <div id="existing-image-area" class="ui-tabs-panel" >
    <%= render 'existing_image' %>
  </div>

  <div id="external-image-area" class="ui-tabs-panel" >
    <%= render 'external_image' %>
  </div>

  <div id="upload-image-area" class="ui-tabs-panel" >
    <%= render 'upload_image' %>
  </div>

</div>
