<li class="record">
  <div class="detail">
    <span class="title">
      <%%= link_to <%= singular_name %>.name, refinery.admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>) %> <%%= t('.said') %>
    </span>
    <span class="preview"><%%= strip_tags(sanitize(<%= singular_name %>.message)) %></span>
  </div>
  <span class="actions">
    <%%= link_to refinery_icon_tag('delete.png'), refinery.admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                class: 'delete confirm-delete',
                title: t('admin.<%= plural_name %>.delete'),
                data: {
                  confirm: t('shared.admin.delete.message', title: <%= singular_name %>.name),
                  method: 'delete'
                } %>

    <%%= link_to refinery_icon_tag('zoom.png'), refinery.admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                title: t('.read_<%= singular_name %>') %>
<% if includes_spam? %>
    <%% if <%= singular_name %>.spam? %>
      <%%= link_to refinery_icon_tag('email.png'), refinery.toggle_spam_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                  title: t('.mark_as_ham') %>
    <%% else %>
      <%%= link_to refinery_icon_tag('bin_closed.png'), refinery.toggle_spam_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                  title: t('.mark_as_spam') %>
    <%% end %>
<% end %>
  </span>
</li>
