<li class="record">
  <div class="detail">
    <span class="title">
      <%%= link_to <%= singular_name %>.name, refinery.admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>) %>
    </span>
    <span class="preview"><%%= strip_tags(sanitize(<%= singular_name %>.message)) %></span>
  </div>
  <span class="actions">
    <%%= link_to t('delete', scope: 'refinery.admin.record'),
                refinery.admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                class: 'delete confirm-delete nojs-hide icon-small delete-icon',
                title: t('delete', scope: 'refinery.admin.<%= namespacing.underscore %>.<%= plural_name %>'),
                data: {
                  remote: true,
                  confirm: t('message', scope: 'refinery.admin.delete', title: <%= singular_name %>.<%= title_attribute_name %>)
                },
                method: :delete %>

    <%%= link_to t('detail', scope: 'refinery.admin.record'),
                refinery.admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                class: 'icon-small detail-icon',
                title: t('.detail') %>

    <%%= render "#{action_name}_record_actions", <%= singular_name %>: <%= singular_name %> %>
  </span>
</li>
