<section id="records">
  <h2><%%= t('.<%= singular_name %>') %></h2>
  <table id="<%= singular_name %>" class="inquiry">
<% attributes.each do |attribute| %>
      <tr>
        <td<%= ' valign="top"' if attribute.type.to_s == 'text' %>>
          <strong>
            <%%= t('.<%= attribute.name %>', default: t('activerecord.attributes.<%= singular_name %>.<%= attribute.name %>')) %>
          </strong>
        </td>
        <td>
<% if attribute.type.to_s == 'text' %>
          <p>
            <%% @<%= singular_name %>.message.to_s.gsub("\r\n\r\n", "\r\n").split("\r\n").each_with_index do |sentence, index| %>
              <%%=raw "</p><p>" unless index == 0 %>
              <%%= sentence %>
            <%% end %>
          </p>
<% else %>
          <%%= @<%= singular_name %>.<%= attribute.name %> %>
<% end %>
        </td>
      </tr>
<% end %>
  </table>
</section>
<aside id="actions">
  <h2><%%= t('.details')%></h2>
  <p>
    <strong><%%= t('.age') %>:</strong> <%%= time_ago_in_words(@<%= singular_name %>.created_at) %>
  </p>
<% if includes_spam? -%>
  <%% if @<%= singular_name %>.spam? %>
    <p>
      <strong><%%= t('.spam') %>:</strong> <%%= t('.spam_yes') %>
    </p>
  <%% end %>
<% end -%>
<% if includes_archived? -%>
  <%% if @<%= singular_name %>.archived? %>
    <p>
      <strong><%%= t('.archived') %>:</strong> <%%= t('.archived_yes') %>
    </p>
  <%% end %>
<% end -%>
  <h2><%%= t('.actions') %></h2>
  <ul>
    <li>
      <%%= link_to t('.back_to_all_<%= plural_name %>'), refinery.url_for(action: 'index'),
                   class: 'icon-small icon-with-text back-icon' %>
    </li>
    <li>
      <%%= link_to t('delete', scope: 'refinery.admin.record'),
                  refinery.admin_<%= namespacing.underscore %>_<%= singular_name %>_path(@<%= singular_name %>),
                  class: 'icon-small icon-with-text delete-icon confirm-delete',
                  title: t('delete', scope: 'refinery.admin.<%= namespacing.underscore %>.<%= plural_name %>'),
                  data: {
                    confirm:  t('message', scope: 'refinery.admin.delete', title: @<%= singular_name %>.name),
                    method: 'delete'
                  } %>
    </li>

<% if includes_spam? -%>
<% if includes_archived? -%>
  <%% if <%= singular_name %>.fresh? %>
<% end -%>
    <li>
    <%% if <%= singular_name %>.spam? %>
      <%%= link_to t('.ham'),
                  refinery.toggle_spam_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                  :class => 'icon-small email-icon',
                  :title => t('.mark_as_ham') -%>
    <%% else -%>
      <%%= link_to t('.spam'),
                  refinery.toggle_spam_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                  :class => 'icon-small spam-icon',
                  :title => t('.mark_as_spam') -%>
    <%% end -%>
    </li>
<% if includes_archived? -%>
  <%% end %>
<% end -%>
<% end %>

<% if includes_archived? -%>
<% if includes_spam? -%>
  <%% if <%= singular_name %>.ham? %>
<% end -%>
    <li>
    <%% if <%= singular_name %>.spam? %>
      <%%= link_to t('.archive'),
                  refinery.toggle_archived_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                  :class => 'icon-small folder-icon',
                  :title => t('.mark_as_archived') -%>
    <%% else -%>
      <%%= link_to t('.fresh'),
                  refinery.toggle_archived_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(<%= singular_name %>),
                  :class => 'icon-small folder-icon',
                  :title => t('.mark_as_fresh') -%>
    <%% end -%>
    </li>
<% if includes_spam? -%>
  <%% end %>
<% end -%>
<% end -%>

  </ul>
</aside>
