<section id="records">
  <div class="form-title">
    <h1><%%= t('.<%= singular_name %>') %></h1>
    <div class="clearfix">
      <div class="meta-informations right-side">
      <% if includes_spam? -%>
        <%%% if @<%= singular_name %>.spam? %>
          <span class="label spam"><%%= t('.spam') %></span>
        <%% end %>
      <% end -%>

      <% if includes_archived? -%>
        <%% if @<%= singular_name %>.archived? %>
          <span class="label archived"><%= t('.archived') %></span>
        <%% end %>
      <% end -%>
      </div>
      <div class="breadcrumbs less-important">
        <%%= link_to t('title', scope: 'refinery.plugins.<%= extension_name %>'),
                    refinery.admin_<%= namespacing.underscore %>_<%= plural_name %>_path %>

      <% if includes_spam? -%>
        <%% if @<%= singular_name %>.spam? %>
          &nbsp;/&nbsp;
          <%%= link_to t('.spam'),
                      refinery.spam_admin_<%= namespacing.underscore %>_<%= plural_name %>_path -%>
        <%% end %>
      <% end -%>

      <% if includes_archived? -%>
        <%% if @<%= singular_name %>.archived? %>
          &nbsp;/&nbsp;
          <%%= link_to t('.archived'),
                      refinery.archived_admin_<%= namespacing.underscore %>_<%= plural_name %>_path -%>
        <%% end %>
      <% end -%>
      </div>
    </div>
  </div>

  <table id="<%= singular_name %>" class="<%= singular_name %>">
<% attributes.each do |attribute| %>
      <tr>
        <td<%= ' valign="top"' if attribute.type.to_s == 'text' %>>
          <strong>
            <%%= t('.<%= attribute.name %>', default: t('activerecord.attributes.<%= singular_name %>.<%= attribute.name %>')) %>
          </strong>
        </td>
        <td>
<% if attribute.type.to_s == 'text' -%>
          <p>
            <%% @<%= singular_name %>.message.to_s.gsub("\r\n\r\n", "\r\n").split("\r\n").each_with_index do |sentence, index| %>
              <%%=raw "</p><p>" unless index == 0 %>
              <%%= sentence %>
            <%% end %>
          </p>
<% else -%>
          <%%= @<%= singular_name %>.<%= attribute.name %> %>
<% end -%>
        </td>
      </tr>
<% end -%>
  </table>
</section>
<aside id="actions">
  <h2><%%= t('.actions') %></h2>
  <ul>
    <li>
      <%%= link_to t('.back_to_all_<%= plural_name %>'), refinery.url_for(action: 'index'),
                   class: 'icon-small icon-with-text back-icon' %>
    </li>
    <li>
      <%%= link_to t('delete', scope: 'refinery.admin.record'),
                  refinery.admin_<%= namespacing.underscore %>_<%= singular_name %>_path(@<%= singular_name %>),
                  class: 'icon-small icon-with-text delete-icon confirm-delete',
                  title: t('delete', scope: 'refinery.admin.<%= namespacing.underscore %>.<%= plural_name %>'),
                  data: {
                    confirm:  t('message', scope: 'refinery.admin.delete', title: @<%= singular_name %>.name),
                    method: 'delete'
                  } %>
    </li>

<% if includes_spam? -%>
<% if includes_archived? -%>
  <%% if @<%= singular_name %>.fresh? %>
<% end -%>
    <li>
    <%% if @<%= singular_name %>.spam? %>
      <%%= link_to t('mark_as_ham', scope: 'refinery.admin.<%= namespacing.underscore %>.<%= plural_name %>.<%= singular_name %>'),
                  refinery.toggle_spam_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(@<%= singular_name %>),
                  class: 'icon-small icon-with-text email-icon' -%>
    <%% else -%>
      <%%= link_to t('mark_as_spam', scope: 'refinery.admin.<%= namespacing.underscore %>.<%= plural_name %>.<%= singular_name %>'),
                  refinery.toggle_spam_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(@<%= singular_name %>),
                  class: 'icon-small icon-with-text spam-icon' -%>
    <%% end -%>
    </li>
<% if includes_archived? -%>
  <%% end %>
<% end -%>
<% end %>
<% if includes_archived? -%>
<% if includes_spam? -%>
  <%% if @<%= singular_name %>.ham? %>
<% end -%>
    <li>
    <%% if @<%= singular_name %>.fresh? %>
      <%%= link_to t('mark_as_archived', scope: 'refinery.admin.<%= namespacing.underscore %>.<%= plural_name %>.<%= singular_name %>'),
                  refinery.toggle_archived_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(@<%= singular_name %>),
                  class: 'icon-small icon-with-text folder-icon' -%>
    <%% else -%>
      <%%= link_to t('mark_as_fresh', scope: 'refinery.admin.<%= namespacing.underscore %>.<%= plural_name %>.<%= singular_name %>'),
                  refinery.toggle_archived_admin_<%= namespacing.underscore %>_<%= singular_name %>_path(@<%= singular_name %>),
                  class: 'icon-small icon-with-text email-icon' -%>
    <%% end -%>
    </li>
<% if includes_spam? -%>
  <%% end %>
<% end -%>
<% end -%>

  </ul>
</aside>
