<li>
  <div class="detail">
    <strong class="title"><%= user.username %></strong>
    <span class="preview">
      <%= t('.preview', :who => user.email, :created_at => l(user.created_at, :format => :short)) %>
    </span>
  </div>
  <span class="actions">

    <%= link_to t('delete', :scope => 'refinery.admin.record'),
                refinery.admin_user_path(user),
                :class => 'delete confirm-delete nojs-hide icon-small delete-icon',
                :title => t('delete', :scope => 'refinery.admin.users'),
                :method => :delete,
                :data => {
                  :remote => true,
                  :confirm => t('message', :scope => 'refinery.admin.delete', :title => user.username)
                } if current_refinery_user.can_delete?(user) %>

    <%= link_to t('edit', :scope => 'refinery.admin.record'),
                refinery.edit_admin_user_path(user),
                :class => 'icon-small edit-icon',
                :title => t('edit', :scope => 'refinery.admin.users') if current_refinery_user.can_edit?(user) %>

    <%= mail_to user.email, 'E-mail',
                :class => 'icon-small email-go-icon',
                :title => t('.email_user') %>

  </span>
</li>
