<div id="locales">
<% Refinery::I18n.frontend_locales.each do |locale| %>
  <% if Globalize.locale != locale %>
    <% url = if @page.translated_locales.include?(locale)
                url_for_page_with_locale(locale)
              else
                refinery.root_path locale: locale
              end
    %>
    <%= link_to url do -%><span class="<%= locale %>"><%= I18n.with_locale locale do lang(locale) end -%></span><% end -%>
  <% else %>
    <span class="active">
      <span class="<%= locale %>"><%= I18n.with_locale locale do lang(locale) end %></span>
    </span>
  <% end -%>
<% end -%>
</div>
