<div id="site-bar" >
  <div id="site-bar-content" class="clearfix">
    <div id="editor-switch" data-no-turbolink>
      <%= site_bar_switch_link %>
    </div>
    <span id="site-name">
        <%= Refinery::Core.site_name %>
    </span>
    <span class="spinner">&nbsp;</span>
    <%= link_to 'Refinery (tm) Content Manager',
                'http://refinerycms.com',
                :target => '_blank',
                :id => 'refinery-cms-logo' %>
    <div id="current-user">
      <span class="username">
        <%= link_to_if(current_refinery_user.can_edit?(current_refinery_user),
                  current_refinery_user.username, refinery.edit_admin_user_path(current_refinery_user),
                  data: ({ :'no-turbolink' => true } if !admin?) ) %>
      </span>
      <%= link_to t('.log_out'), refinery.logout_path, data: { :'no-turbolink' => true } %>
    </div>
  </div>
</div>
