<div id="existing-resource-area-content" >
    <ul id="<%= refinery_dom_id @resources %>" class="records ui-selectable">
      <%= render :partial => 'refinery/admin/resources/resource', :collection => @resources %>
    </ul>
</div>

<div id="<%= refinery_dom_id @resources %>-pagination">
  <%= will_paginate @resources %>
</div>

<%= render '/refinery/admin/form_actions', :f => nil,
           :cancel_url =>'',
           :submit_button_text => t('.button_text'),
           :submit_button_class => 'insert-button',
           :hide_submit => false,
           :hide_cancel => false,
           :hide_delete => true %>
